*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #555555;
}

.heading-primary {
  color: #f7f7f7;
  text-transform: uppercase;
}

.heading-primary--main {
  display: inline-block;
  font-weight: 400;
  font-size: 4.8rem;
  background-color: #82b440;
  padding: 0 1.4rem;
  margin: 0;
}

.heading-primary--sub {
  display: block;
  font-size: 2.56rem;
  font-weight: 300;
  margin: 1.4rem 0;
}

.heading-primary--sub + p {
  font-size: 2.56rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.heading-secondary {
  font-size: 2.88rem;
  font-weight: 400;
}

.heading-tertiary {
  font-size: 2.56rem;
  font-weight: 400;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.88rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.24rem;
  font-weight: 300;
  letter-spacing: 1px;
  border: 2px solid;
  padding: 1.8rem 2.9rem;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.btn:link:hover, .btn:visited:hover {
  color: #fff;
  background-color: #82b440;
}

.btn-green-primary {
  color: #82b440;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.header {
  padding: 33.81rem 0 16.92rem 0;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
  margin-top: 1rem;
}

.nav {
  position: relative;
}

.nav__nav {
  position: absolute;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.nav__list {
  list-style: none;
  text-align: center;
}

.nav__item {
  display: inline-block;
  padding: 2rem 0;
}

.nav__item:not(:last-child) {
  margin-right: 2.6rem;
}

.nav__link:link, .nav__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__dropdown:hover .nav__dropdown-content {
  visibility: visible;
  opacity: 1;
}

.nav__dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1.5rem;
  color: #eee;
  font-weight: 300;
}

.nav__dropdown-content li {
  display: block;
  text-align: left;
  padding: 0 0 1rem 0;
}

.wrapper {
  padding: 9.6rem 0 6.4rem 0;
}

.section-one {
  background-color: #f2f2f2;
}

.section-one .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-one .col-1-2 {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.section-one p:last-child {
  text-transform: capitalize;
  font-size: 2.24rem;
}
/*# sourceMappingURL=main.css.map */