.row {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    &--center {
        justify-content: center;
    }
    &--space-between {
        justify-content: space-between;
    }
}

.col-1-1 {
    align-self: stretch;
}

.col-1-2 {
    flex-basis: 50%;
}
