.header {
    height: 68vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        @include absCenter;
    }
}