.header {
    // height: 68vh;
    padding: 33.81rem 0 16.92rem 0;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    &__text-box {
        @include absCenter;
        text-align: center;
        width: 60%;
        margin-top: 1rem;
    }
}