// basic font
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-gray-dark;
}

.heading-primary {
    color: $color-gray-light-1;
    text-transform: uppercase;

    &--main {
        display: inline-block;
        font-weight: 400;
        font-size: 4.8rem;
        background-color: $color-green-primary;
        padding: 0 1.4rem;
        margin: 0;
    }

    &--sub {
        display: block;
        font-size: 2.56rem;
        font-weight: 300;
        margin: 1.4rem 0;
    }

    &--sub + p {
        font-size: 2.56rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.heading-secondary {
    font-size: 2.88rem;
    font-weight: 400;   
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    &--big {
        font-size: 4.16rem;
        font-weight: 700;
    }
    &--sub {
        font-size: 2.24rem;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.heading-tertiary {
    font-size: 2.56rem;
    font-weight: 400;
    text-transform: uppercase;

    &--style1 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &--style2 {
        font-size: 2rem;
        font-weight: 300;
    }
}

.paragraph {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.88rem;

    &--big {
        font-size: 2.56rem;
    }
}